// =================
//      Buttons
// =================
//----- Buttons with backgrounds -----//
// a.oo-ui-buttonElement-button,
// input.oo-ui-buttonElement-button,
// button.oo-ui-buttonElement-button 
.oo-ui-buttonElement-button {
    .oo-ui-buttonElement-framed.oo-ui-widget-enabled > & {
        & {
            color: @button-text-base;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-base;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active,
            &:active:focus,
            .oo-ui-buttonElement-pressed& {
                color: @button-text-base;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }
            
            // Select between multiple buttons
            .oo-ui-buttonElement-active& {
                color: @button-text-primary;
                background: @button-bg-progressive;
                border-color: @button-bg-progressive;
            }
        }
      
        .oo-ui-flaggedElement-progressive& {
            color: @button-text-progressive;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-progressive;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active,
            &:active:focus,
            .oo-ui-buttonElement-pressed& {
                color: @button-text-progressive;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }

            .oo-ui-flaggedElement-primary& {
                color: @button-text-primary;
                background: @button-bg-progressive;
                border-color: @button-bg-progressive;

                &:hover {
                    color: @button-text-primary;
                    background: @button-bg-progressive--hover;
                    border-color: @button-bg-progressive--hover;
                }
    
                &:active,
                &:active:focus,
                .oo-ui-buttonElement-pressed& {
                    color: @button-text-primary;
                    background: @button-bg-progressive--active;
                    border-color: @button-bg-progressive--active;
                }
            }
        }

        .oo-ui-flaggedElement-destructive& {
            color: @button-text-destructive;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-destructive;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active,
            &:active:focus,
            .oo-ui-buttonElement-pressed& {
                color: @button-text-destructive;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }

            .oo-ui-flaggedElement-primary& {
                color: @button-text-primary;
                background: @button-bg-destructive;
                border-color: @button-bg-destructive;

                &:hover {
                    color: @button-text-primary;
                    background: @button-bg-destructive--hover;
                    border-color: @button-bg-destructive--hover;
                }
    
                &:active,
                &:active:focus,
                .oo-ui-buttonElement-pressed& {
                    color: @button-text-primary;
                    background: @button-bg-destructive--active;
                    border-color: @button-bg-destructive--active;
                }
            }
        }
    }

    .oo-ui-buttonElement-framed.oo-ui-widget-disabled > & {
        &,
        &:hover,
        &:active,
        &:active:focus,
        .oo-ui-buttonElement-pressed& {
            color: @button-text-disabled;
            background: @button-bg-disabled;
            border-color: @button-bg-disabled;
        }
    }
}

//----- Buttons without backgrounds -----//
.oo-ui-buttonElement-button {
    .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > & {
        &,
        &:hover,
        &:active,
        &:active:focus,
        .oo-ui-buttonElement-pressed& {
            color: @theme-text;
        }
      
        .oo-ui-flaggedElement-progressive& {
            &,
            &:hover,
            &:active,
            &:active:focus,
            .oo-ui-buttonElement-pressed& {
                color: @button-text-progressive;
            }
        }

        .oo-ui-flaggedElement-destructive& {
            &,
            &:hover,
            &:active,
            &:active:focus,
            .oo-ui-buttonElement-pressed& {
                color: @button-text-destructive;
            }
        }
    }

    .oo-ui-buttonElement-framed.oo-ui-widget-disabled > & {
        &,
        &:hover,
        &:active,
        &:active:focus,
        .oo-ui-buttonElement-pressed& {
            color: @button-text-disabled;
        }
    }
}

//----- Button groups -----//
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled,
.oo-ui-buttonSelectWidget.oo-ui-widget-enabled {
    .oo-ui-buttonElement:not(:first-child):not(:last-child) > .oo-ui-buttonElement-button {
        border-right-color: @button-group-separator;
        border-left-color: @button-group-separator;
    }

    .oo-ui-buttonElement:last-child > .oo-ui-buttonElement-button {
        border-left-color: @button-group-separator;
    }
}

.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle {
    &:hover,
    &:active,
    &:active:focus,
    .oo-ui-buttonElement-pressed& {
        background: @button-bg-base;
    }
}

.oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle {
    background: @button-bg-base;
}
