@import "icon-imports.less";

// =========================
//      ooui demos page
// =========================
// body {
//   background-image: none !important;
// }

// .demo-menu {
//   background: @sidebar;
//   border-color: @theme-borders;
// }

// .demo-menu + div {
//   background: @main-page-bg !important;
//   border: solid 1px @theme-borders !important;
//   color: @theme-text;
// }
// =========================

// ==============
//      Text
// ==============
//----- Disabled labels -----//
.oo-ui-fieldLayout-disabled > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header > .oo-ui-labelElement-label {
    color: @base-text-diabled;
}

// =================
//      Buttons
// =================
//----- Buttons with backgrounds -----//
a.oo-ui-buttonElement-button,
input.oo-ui-buttonElement-button,
button.oo-ui-buttonElement-button {
    .oo-ui-buttonElement-framed.oo-ui-widget-enabled > & {
        & {
            color: @button-text-base;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-base;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active:focus {
                color: @button-text-base;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }

            .oo-ui-buttonElement-active& {
                color: @button-text-primary;
                background: @button-bg-progressive;
                border-color: @button-bg-progressive;
            }
        }
      
        .oo-ui-flaggedElement-progressive& {
            color: @button-text-progressive;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-progressive;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active:focus {
                color: @button-text-progressive;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }

            .oo-ui-flaggedElement-primary& {
                color: @button-text-primary;
                background: @button-bg-progressive;
                border-color: @button-bg-progressive;

                &:hover {
                    color: @button-text-primary;
                    background: @button-bg-progressive--hover;
                    border-color: @button-bg-progressive--hover;
                }
    
                &:active:focus {
                    color: @button-text-primary;
                    background: @button-bg-progressive--active;
                    border-color: @button-bg-progressive--active;
                }
            }
        }

        .oo-ui-flaggedElement-destructive& {
            color: @button-text-destructive;
            background: @button-bg-base;
            border-color: @button-bg-base;

            &:hover {
                color: @button-text-destructive;
                background: @button-bg-base--hover;
                border-color: @button-bg-base--hover;
            }

            &:active:focus {
                color: @button-text-destructive;
                background: @button-bg-base--active;
                border-color: @button-bg-base--active;
            }

            .oo-ui-flaggedElement-primary& {
                color: @button-text-primary;
                background: @button-bg-destructive;
                border-color: @button-bg-destructive;

                &:hover {
                    color: @button-text-primary;
                    background: @button-bg-destructive--hover;
                    border-color: @button-bg-destructive--hover;
                }
    
                &:active:focus {
                    color: @button-text-primary;
                    background: @button-bg-destructive--active;
                    border-color: @button-bg-destructive--active;
                }
            }
        }
    }

    .oo-ui-buttonElement-framed.oo-ui-widget-disabled > & {
        &,
        &:hover,
        &:active {
            color: @button-text-disabled;
            background: @button-bg-disabled;
            border-color: @button-bg-disabled;
        }
    }
}

//----- Buttons without backgrounds -----//
.oo-ui-buttonElement-button[tabindex] {
    .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > & {
        &,
        &:hover,
        &:active {
            color: @theme-text;
        }
      
        .oo-ui-flaggedElement-progressive& {
            &,
            &:hover,
            &:active {
                color: @button-text-progressive;
            }
        }

        .oo-ui-flaggedElement-destructive& {
            &,
            &:hover,
            &:active {
                color: @button-text-destructive;
            }
        }
    }

    .oo-ui-buttonElement-framed.oo-ui-widget-disabled > & {
        &,
        &:hover,
        &:active {
            color: @button-text-disabled;
        }
    }
}

//----- Button groups -----//
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled,
.oo-ui-buttonSelectWidget.oo-ui-widget-enabled {
    .oo-ui-buttonElement:not(:first-child):not(:last-child) > .oo-ui-buttonElement-button {
        border-right-color: @button-group-separator;
        border-left-color: @button-group-separator;
    }

    .oo-ui-buttonElement:last-child > .oo-ui-buttonElement-button {
        border-left-color: @button-group-separator;
    }
}

// ===========================
//      Text input fields
// ===========================
.oo-ui-textInputWidget.oo-ui-widget-enabled input, 
.oo-ui-textInputWidget.oo-ui-widget-enabled textarea {
    .text-input-styling();
}

.oo-ui-textInputWidget.oo-ui-widget-enabled:hover input, 
.oo-ui-textInputWidget.oo-ui-widget-enabled:hover textarea {
    border-color: @input-fields-border--hover;
}

//----- Read only inputs -----//
.oo-ui-textInputWidget.oo-ui-widget-enabled input[readonly], 
.oo-ui-textInputWidget.oo-ui-widget-enabled textarea[readonly] {
    .text-input-styling();
    background-color: @input-fields-bg-readonly;
}

//----- Disabled inputs -----//
.oo-ui-textInputWidget.oo-ui-widget-disabled input,
.oo-ui-textInputWidget.oo-ui-widget-disabled textarea {
    .text-input-styling();
    opacity: @input-fields-opacity-disabled;
    text-shadow: none;
    -webkit-text-fill-color: @input-fields-text;
}

// ====================
//      Checkboxes
// ====================
.oo-ui-checkboxInputWidget [type='checkbox'] + span {
    background-color: @checkbox-bg-base;
    border-color: @checkbox-border-base;
}

.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span {
    background-color: @checkbox-bg-active;
    border-color: @checkbox-border-active;
}

.oo-ui-checkboxInputWidget [type='checkbox']:disabled + span {
    background-color: @checkbox-bg-disabled;
    border-color: @checkbox-border-disabled;
    opacity: @checkbox-opacity-disabled;
}

// =======================
//      Radio buttons
// =======================
.oo-ui-radioInputWidget [type='radio'] + span {
    background-color: @checkbox-bg-base;
    border-color: @checkbox-border-base;
}

.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
    border-color: @checkbox-border-active;
}

.oo-ui-radioInputWidget [type='radio']:disabled + span {
    background-color: @checkbox-bg-disabled;
    border-color: @checkbox-border-disabled;
    opacity: @checkbox-opacity-disabled;
}

.oo-ui-radioInputWidget [type='radio']:disabled:checked + span {
    background-color: @checkbox-bg-disabled;
    border-color: @checkbox-border-active;
}

// ==========================
//      Dropdown selects
// ==========================
.oo-ui-dropdownInputWidget-php {
    border-color: @select-border;
}

.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select {
    background-color: @select-bg;
    color: @select-text;
    border-color: @select-border;

    &:hover {
        background-color: @select-bg--hover;
        color: @select-text;
        border-color: @select-border;
    }

    option {
        background: @dropdown-bg-hover-item;
        color: @dropdown-text--hover;
    }
}

.oo-ui-dropdownInputWidget.oo-ui-widget-disabled select {
    background-color: @select-bg;
    color: @select-text;
    border-color: @select-border;
    opacity: @select-opacity-disabled;
}

// ======================
//      Progress bar
// ======================
.oo-ui-progressBarWidget {
    background-color: @progressbar-bg;
    border-color: @progressbar-border;
}

.oo-ui-progressBarWidget.oo-ui-widget-enabled .oo-ui-progressBarWidget-bar {
    background-color: @progressbar-bar;
}

.oo-ui-progressBarWidget.oo-ui-widget-disabled .oo-ui-progressBarWidget-bar {
    background-color: @progressbar-bar-disabled;
}

// =====================
//      Date select
// =====================
.mw-widget-dateInputWidget-handle {
    background-color: @select-bg;
    border-color: @select-border;

    .mw-widget-dateInputWidget-empty & {
        color: @select-text;
    }
}