// ======================
//      Progress bar
// ======================
.ve-init-mw-desktopArticleTarget-progress,
.oo-ui-progressBarWidget {
    background-color: @progressbar-bg;
    border-color: @progressbar-border;
}

.ve-init-mw-desktopArticleTarget-progress-bar,
.oo-ui-progressBarWidget.oo-ui-widget-enabled .oo-ui-progressBarWidget-bar {
    background-color: @progressbar-bar;
}

.oo-ui-progressBarWidget.oo-ui-widget-disabled .oo-ui-progressBarWidget-bar {
    background-color: @progressbar-bar-disabled;
}
