// <pre>
/* ==============================
       [[Template:Actionbar]]
   ============================== */

ul {
    &.actionbar,
    &.actionbar-revolution {
        .box-sizing( border-box );
        padding: 39px 0 0 4px;
        margin: 0;
        width: 530px;
        height: 76px;

        li {
            list-style: none;
            float: left;
            margin: 0;
            padding: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            margin-right: 4px;
        }
    }

    &.actionbar {
        background: filepath('Template_action_bar.png');
    }

    &.actionbar-revolution {
        background: filepath('Template_action_bar_revolution.png');
    }
}