// <pre>
/* ========================================
       [[RuneScape:Active discussions]]
   ======================================== */

.discussiontable {
    &.noresults th {
        background-color: darken( @default-page, 20% );

        a {
            color: contrast( @default-page );
        }
    }

    th {
        color: contrast( @theme-buttons );
        background-color: @theme-buttons;

        a {
            color: contrast( @theme-buttons );
        }
    }

    .topic,
    .edited,
    .edited-by,
    .yg-archive {
        color: contrast( @default-page );
        background-color: darken( @default-page, 10% );
    }
}

.discussiontable.noresults {
    .topic,
    .edited,
    .edited-by,
    .yg-archive {
        color: contrast( @default-page );
        background-color: darken( @default-page, 10% );
    }
}