// <pre>
/* ===============================
      [[Template:Chat options]]
   =============================== */

.chat-options {

    span {
        padding: 0 1px;
    }

    .chat-options-underline {
        border-bottom: 1px dotted #15f;
        cursor: help;
    }
    
}