// <pre>
/* ================================
       [[Template:Coins]]
       [[Template:Rusty coins]]
       [[Template:Chimes]]
   ================================ */

// default and common styles
.coins {
    color: green;
}

// positive/negative specific colours
.coins-pos {
    color: #014cc0;
}

.coins-neg {
    color: #c02614;
}