// <pre>
/* ================================
       [[Template:Coins]]
       [[Template:Rusty coins]]
       [[Template:Chimes]]
   ================================ */

// default and common styles
.coins {
    color: green;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0;
}

// positive/negative specific colours
.coins-pos {
    color: #014cc0;
}

.coins-neg {
    color: #c02614;
}

/**
 * Rusty coins
 */
.rusty-coins-10000 {
    background-image: filepath('Rusty_coins_10000.png');
    padding: 7px 0 1px 35px;
}

.rusty-coins-1000 {
    background-image: filepath('Rusty_coins_1000.png');
    padding: 1px 0 1px 35px;
}

.rusty-coins-250 {
    background-image: filepath('Rusty_coins_250.png');
    padding: 1px 0 1px 35px;
}

.rusty-coins-100 {
    background-image: filepath('Rusty_coins_100.png');
    padding: 1px 0px 1px 32px;
}

.rusty-coins-25 {
    background-image: filepath('Rusty_coins_25.png');
    padding-left: 30px;
}

.rusty-coins-5 {
    background-image: filepath('Rusty_coins_5.png');
    padding-left: 30px;
}

.rusty-coins-4 {
    background-image: filepath('Rusty_coins_4.png');
    padding-left: 30px;
}

.rusty-coins-3 {
    background-image: filepath('Rusty_coins_3.png');
    padding-left: 30px;
}

.rusty-coins-2 {
    background-image: filepath('Rusty_coins_2.png');
    padding-left: 23px;
}

.rusty-coins-1 {
    background-image: filepath('Rusty_coins_1.png');
    padding-left: 15px;
}

/**
 * Coins
 */
.coins-10000 {
    background-image: filepath('Coins_10000.png');
    padding: 7px 0 1px 35px;
}

.coins-1000 {
    background-image: filepath('Coins_1000.png');
    padding: 1px 0 1px 35px;
}

.coins-250 {
    background-image: filepath('Coins_250.png');
    padding: 1px 0 1px 35px;
}

.coins-100 {
    background-image: filepath('Coins_100.png');
    padding: 1px 0px 1px 32px;
}

.coins-25 {
    background-image: filepath('Coins_25.png');
    padding-left: 30px;
}

.coins-5 {
    background-image: filepath('Coins_5.png');
    padding-left: 30px;
}

.coins-4 {
    background-image: filepath('Coins_4.png');
    padding-left: 30px;
}

.coins-3 {
    background-image: filepath('Coins_3.png');
    padding-left: 30px;
}

.coins-2 {
    background-image: filepath('Coins_2.png');
    padding-left: 23px;
}

.coins-1 {
    background-image: filepath('Coins_1.png');
    padding-left: 15px;
}

/**
 * Chimes
 */
.chimes-1000 {
    background-image: filepath('Chimes_1000.png');
    padding: 3px 0 3px 33px;
}

.chimes-100 {
    background-image: filepath('Chimes_100.png');
    padding: 1px 0 1px 30px;
}

.chimes-50 {
    background-image: filepath('Chimes_50.png');
    padding-left: 31px;
}

.chimes-20 {
    background-image: filepath('Chimes_20.png');
    padding-left: 24px;
}

.chimes-1 {
    background-image: filepath('Chimes_1.png');
    padding-left: 19px;
}