// <pre>
/* ==================================
       [[Template:Documentation]]
   ================================== */
.documentation {
    background-color: #ebebeb;
    color: #000;
    border-left: 15px solid #898989;
    margin-top: 1em;
    padding: 5px 15px;

    .doc-header {
        border-bottom: 1px solid #898989;
        margin-bottom: 2px;
        padding-bottom: 8px;
        padding-top: 6px;
    }

    .doc-title {
        font-size: 1.25em;
        font-weight: bold;
    }

    .doc-editlinks {
        font-size: 0.85em;
        margin-left: 10px;
    }

    .doc-transclusion {
        clear: both;
        font-size: 0.85em;
        margin-bottom: 15px;
    }

    a,
    a:visited,
    a:active {
        color: #6c6c6c;
    }
}