// <pre>
/* ==================================
       [[Template:Documentation]]
   ================================== */
.documentation {
    background-color: #ebebeb;
    color: #000;
    border-left: 15px solid #898989;

    .doc-header {
        border-bottom: 1px solid #898989;
    }

    a,
    a:visited,
    a:active {
        color: #6c6c6c;
    }
}