// <pre>
/* ===================
      HTML elements
   =================== */

@base-text-color: saturate( darken( @river-bed, 8% ), 8% );
@base-heading-color: @river-bed;
@base-heading-border: @mystic;

/* ==================
         body
  ================== */

.mw-body {
	color: @base-text-color;
	background-color: @content-bg;
}

/* ------------------
        headings
   ------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @base-heading-color;
    border-color: @base-heading-border;
}

/* --------------------
       pre and code
   -------------------- */

pre,
code {
    background-color: @white;
    border-color: @mystic;
}

/* --------------------
           lists
   -------------------- */

ul {
    list-style-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='5' height='13'%3E %3Ccircle cx='2.5' cy='9.5' r='2.5' fill='%234c4c4c'/%3E %3C/svg%3E"); // change fill to #4c4c4c
}

/* -------------------------
       why is <hr> inset
   ------------------------- */

hr {
    border-color: @base-heading-border;
}