// <pre>
/* =============================
       [[Template:Extimage]]
   ============================= */

.extimage {
    div,
    a,
    img {
        height: inherit;
        max-height: inherit;
        max-width: inherit;
        width: inherit;
    }

    .caption {
        color: #696969;
        padding: 3px 6px;
    }

}