// <pre>
/* =============================
         [[Template:Fact]]
   ============================= */

.fact-text {
    color: #15f;
    font-style: italic;
    cursor: help;
    border-bottom: dotted 1px black;
}