// <pre>
/* ==========================
       from Google Fonts
   ========================== */

// <https://fonts.google.com/specimen/IBM+Plex+Sans>
// <https://fonts.google.com/specimen/PT+Serif>

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');

/* ==========================
      fonts hosted locally
   ========================== */

/*

  The order of defining the sources is as follows:

  1) the local filename
  2) the .woff2 file (if we use it in the future; none as of 9 Feb 2018)
  3) the .woff file

  From CSS Fonts Level 3, section 4.3: <https://www.w3.org/TR/css-fonts-3/#src-desc>

  "When a font is needed the user agent iterates over the set of references listed,
  using the first one it can successfully activate. Fonts containing invalid data
  or local font faces that are not found are ignored and the user agent loads
  the next font in the list."

*/

@font-face {
    font-family: 'runescape';
    font-style: normal;
    font-weight: normal;
    src: local("RuneScape Chat 2"),
         local("RuneScape Chat"),
         filepath('Runescape_chat.woff') format('woff');
}

@font-face {
    font-family: 'runescape-bold';
    font-style: normal;
    font-weight: bold;
    src: local("RuneScape Chat Bold 2"),
         local("RuneScape Chat Bold"),
         filepath('Runescape_chat_bold.woff') format('woff');
}

@font-face {
    font-family: 'runescape-small';
    font-style: normal;
    font-weight: normal;
    src: local("RuneScape Small"),
         filepath('Runescape_small.woff') format('woff');
}

@font-face {
    font-family: 'runescape-classic';
    font-style: normal;
    font-weight: normal;
    src: local("RuneScape Classic"),
         filepath('Runescape_classic.woff') format('woff');
}

@font-face {
    font-family: 'KingthingsPetrock';
    font-style: normal;
    font-weight: normal;
    src: local("Kingthings Petrock"),
         filepath('Kingthings_Petrock-webfont.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: normal;
    src: local("Museo Sans"),
         filepath('Museo_Sans_500.woff') format('woff');
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: bold;
    src: local("League Spartan"),
         filepath('Leaguespartan-bold.woff') format('woff');
}