// <pre>
/* ===================================
      Exchange namespace formatting
   =================================== */

@gemw-light-text: #949eaa;

// @TODO: remove this when real buttons are added
.gemw-button {
    color: white;
    background: #36c;

    &.secondary {
        background: #f8f9fa;
        color: #444e5a;
        border: 1px solid #a2a9b1;
    }
}

/* ------------------
          header
   ------------------ */

.gemw-header {
    &.positive {
        border-color: @lima;
    }

    &.negative {
        border-color: @flamingo;
    }

    &.unchanged {
        border-color: @curious-blue;
    }

    .gemw-name {
        a {
            color: @river-bed;
        }
    }

    .gemw-examine {
        color: @gemw-light-text;
    }

    .gemw-price {
        &::after {
            color: @gemw-light-text;
        }

    }

    .gemw-updated {
        color: @gemw-light-text;
    }

    .gemw-time {
        color: @base-text-color;
    }

}

/* ------------------
          body
   ------------------ */

.gemw-body {

    .gemw-section-left {
        a {
            color: @gemw-light-text;
        }
    }

    .gemw-property {
        border-top: .15em dotted @mystic;

        dt {
            color: @gemw-light-text;
        }

    }

    .gemw-links {
        color: @gemw-light-text;
    }

    // @TODO: remove this when real chart is added
    .gemw-chart {
        background: @black-haze;
        color: #eceeee;
    }

}

/* =================
       GE Charts
   ================= */

// @todo overhaul this with the script

#overlay {
    // @todo why are we setting image props, but no image?
    background-color: #000;
}

#modal,
#GEchartpopup {
    background: #fff;
    border: 3px solid #000;
    color: #000;
}