// <pre>
/* ====================
       Hover things
   ==================== */

// @todo identify where this is actually used and document it properly
// Used in Template:Choose Option, in some users' signatures, and more(?)

.ChooseOption {
    background: #fff;
    border: 3px double black;
    color: #c6b895;
}

.OptionHover {
    background: #0d1e25;
}

.OptionHeader {
    background: #0b0c05;
    border-bottom: 1px solid #223239;
}

.OptionWindow {
    background: white;
    border: 3px double black;

    .content {
        background: #0d1e25;
    }

    .content > *:not(.OptionHeader),
    a {
        text-shadow: #000 1px 1px 0px;

        &:hover {
            background: #1d2e55;
        }
    }

    .item {
        color: #ff9040;
    }

    .NPC,
    .npc {
        color: #ff0;
    }

    .player {
        color: #fff;
    }

    .scenery {
        color: #0ff;
    }

    .cb-min {
        color: #0f0;
    }

    .cb-same {
        color: #ff0;
    }

    .cb-max {
        color:#f00;
    }
}