// <pre>
/* =============================
       [[Template:External]]
   ============================= */

/*
.mw-body .mw-indicators {
    bottom: -5px;

    .mw-indicator span {
        display: inline-block;
        color: white !important; // TODO: fix this later
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        margin-left: -2px;
        height: 25px;
        width: 25px;
        line-height: 26px;

        &:hover {
            text-decoration: none;
        }

    }

    #mw-indicator-classic span {
        background: #a0a8ac; // gray
    }

    #mw-indicator-oldschool span {
        background: #5c4200; // brown
    }

    #mw-indicator-wikipedia span {
        background: #515151; // black
    }

}
*/