// <pre>
/* ====================
       new infoboxes
   ==================== */
// @TODO: change .rsw-infobox back to .infobox when everything is updated

@infobox-background: @white;
@infobox-header-color: @jelly-bean;
@infobox-header-border: .5em solid @infobox-background;
@infobox-subheader-color: @fountain-blue;
@infobox-cell-border: 1px solid @mystic;

.rsw-infobox {
    background: @infobox-background;
    box-shadow: @box-shadow;

    .infobox-header {
        color: @white;
        background: @infobox-header-color;
        border-bottom: @infobox-header-border;
    }

    .infobox-subheader {
        background: @infobox-subheader-color;
        color: @white;
        border-top: @infobox-header-border;
        border-bottom: @infobox-header-border;

        a {
        	color: @white;
        }

    }

    // usually first row
    .infobox-image {

        // for things like inventory icon in infobox item
        &.bordered-image {
            border: @infobox-cell-border;
        }
    }

    // usually last row
    .infobox-map {
        border-top: @infobox-header-border;

    }

    // browsers get your shit together https://caniuse.com/#feat=css-not-sel-list
    th:not(.infobox-header):not(.infobox-subheader) {
        border-left: @infobox-cell-border;
        border-right: .175em solid @infobox-subheader-color;
    }

    td {

        &:not(.infobox-image):not(.infobox-map) {
        	border-right: @infobox-cell-border;
        }

        // for full width td's at the bottom like infobox item examine
        &[colspan="2"]:not(.infobox-image):not(.infobox-map) {
        	border: @infobox-cell-border;
    	}

    }

}

/* =============================
      infobox-specific styles
   ============================= */

/* ----------------------
      Infobox monster 
   ---------------------- */
// @TODO: redo all of this, it looks terrible

.infobox-monster {

    .offensive-header {
        background-color: #861c10;
        color: #fff;
    }

    .offensive-subheader {
        background-color: #ecccc6;

        a {
            color: #861c10 !important;
        }

    }

    .defensive-header {
        background-color: #438ab5;
        color: #fff;
    }

    .defensive-subheader {
        background-color: #c1deed;

        a {
            color: #32637c !important;
        }

    }

    .slayer-header {
        background: #464646;
        color: #fff;
    }

}

/* ========================
       legacy infoboxes
   ======================== */
// @TODO: remove this when infoboxes are converted

.infobox {
    border: 1px solid darken( @default-page, 33.5% );
    background-color: darken( @default-page, 2.5% );

    &.bordered {

        td,
        th {
            border: 1px solid darken( @default-page, 33.5%);
        }
    }
}