// <pre>
/* ====================================
       [[Template:Infobox Bonuses]]
   ==================================== */

.infobox-bonuses {
    border-collapse: collapse;
    margin-top: 10px;

    th {
        border: 1px solid darken( @default-page, 33.5%);
        padding: 1px 3px;
        background: darken( @default-page, 5% );
        white-space: nowrap;
        margin: 0;
        width: 70px !important;
    }

    td {
        border: 1px solid darken( @default-page, 33.5%);
        background: darken( @default-page, 2.5%);
        padding: 1px 5px 1px 3px;
        margin: 0;
    }

    .combat-attributes .image {
        width: 23px;
        display: inline-block;
        margin-right: 4px;
    }
}