// <pre>
/* =========================
        System messages
   ========================= */

@mw-notice-border: @mystic;
@mw-notice-background: @white;

/* -----------------------
      MediaWiki:Sidebar
   ----------------------- */
#n-Play-RuneScape {
    background: @white;
    border: 1px solid @loblolly;
    box-shadow: @box-shadow;

    a {
        color: @river-bed !important;
    }

    &:hover {
    	background: @black-haze;
    }

}

/* -------------------------------------
      MediaWiki:Revision-info
      MediaWiki:Revision-info-current
   ------------------------------------- */
#viewingold-warning,
#viewingnew-warning {
    background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
}

/* ---------------------------------------
      messages in Special:Contributions
   --------------------------------------- */

// block message
div.mw-warning-with-logexcerpt,
#sp-contributions-footer {
    background-color: @mw-notice-background;
    border: 1px solid @mw-notice-border;
    box-shadow: @box-shadow;
}

/* ----------------------------------------
      contains MediaWiki:Anoneditwarning
      where else is this used?
   ---------------------------------------- */
.warningbox {
	box-shadow: @box-shadow;
}

/* ---------------------------------
      appears when deleting pages
      that are still linked to
   --------------------------------- */
.mw-warning {
	color: #705000;
	border: 1px solid #fde29b;
	background-color: #fdf1d1;
	box-shadow: 0 2px 5px -3px rgba(0,0,0,0.1);
}

/* -------------------------
      files and captions
   ------------------------- */

/* single thumbnails */
div.thumbinner {

}

// core mediawiki classes use the html selector for some dumb reason
html .thumbimage {
}

html .thumbcaption {
    color: @shuttle-gray;
    background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
}

.thumbcaption .magnify {
}

/* galleries */
li.gallerybox div.thumb {
    background: @mw-notice-background;
    border-color: @mw-notice-border;
}

div.gallerytext {
    color: @shuttle-gray;
}

/* -------------------------------------
      header at the top of file pages
   ------------------------------------- */
#filetoc {
	background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
}

/* ----------------------------
      page history revisions
   ---------------------------- */
#pagehistory {

    li {

        &.selected {
            border: 1px solid @mw-notice-border;
            background: @mw-notice-background;
        }

    }
}

/* ------------------------------
      make watchlist alert in
      page history stand out
   ------------------------------ */
.updatedmarker {
    color: #1b8408;
}

/* ----------------------------------
      highlight section heading
      when it matches url fragment
   ---------------------------------- */
.mw-headline:target {
    color: @la-palma;
}
