// <pre>
/* =========================
        System messages
   ========================= */

@mw-notice-border: @mystic;
@mw-notice-background: @white;

/* -----------------------
      MediaWiki:Sidebar
   ----------------------- */
#p-lang,
#p-RuneScape-label {
    display: none;
}

#n-Play-RuneScape {
    background: @white;
    border: 1px solid @loblolly;
    border-radius: .35em;
    padding: 0 !important;
    box-shadow: @box-shadow;
    transition: background .3s ease;

    a {
        color: @river-bed !important;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 0.6em; // padding is on the link so it fills the space
    }

    &:hover {
    	background: @black-haze;
    }

}

/* -------------------------------------
      MediaWiki:Revision-info
      MediaWiki:Revision-info-current
   ------------------------------------- */
#viewingold-warning,
#viewingnew-warning {
    background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 1em 0 .5em;
    padding: .75em 1.5em;
}

#mw-revision-reason {
    font-style: italic;
}

#mw-revision-nav {
    text-align: center;
}

/* ---------------------------------------
      messages in Special:Contributions
   --------------------------------------- */

// block message
div.mw-warning-with-logexcerpt,
#sp-contributions-footer {
    background-color: @mw-notice-background;
    border: 1px solid @mw-notice-border;
    box-shadow: @box-shadow;
}

div.mw-warning-with-logexcerpt {
	padding: 1em 1.5em;
}

// user links at bottom
#sp-contributions-footer {
    font-size: .9em;
    text-align: center;
    padding: 1em 1.5em .5em;
    margin-top: 1.5em;
}

/* ----------------------------------------
      contains MediaWiki:Anoneditwarning
      where else is this used?
   ---------------------------------------- */
.warningbox {
	padding: 1em 1.5em .5em;
	box-shadow: @box-shadow;
}

/* ---------------------------------
      MediaWiki:Copyrightwarning
   --------------------------------- */
.mw-editform #editpage-copywarn {
	line-height: 1.6em;
	padding: 0 0 .5em;
}

/* ---------------------------------
      appears when deleting pages
      that are still linked to
   --------------------------------- */
.mw-warning {
	color: #705000;
	border: 1px solid #fde29b;
	background-color: #fdf1d1;
	box-shadow: 0 2px 5px -3px rgba(0,0,0,0.1);
	margin: 1em 5em;
}

/* -------------------------
      files and captions
   ------------------------- */

/* single thumbnails */
div.thumbinner {
    border: none;
    background: none;
    padding: 0;
}

// core mediawiki classes use the html selector for some dumb reason
html .thumbimage {
    border: none;
}

html .thumbcaption {
    color: @shuttle-gray;
    background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
    padding: .4em .6em;
    margin: 0 auto;
    width: ~"calc(100% - 2px)";
    box-sizing: border-box;
}

.thumbcaption .magnify {
    display: none;
}

/* galleries */
li.gallerybox div.thumb {
    background: @mw-notice-background;
    border-color: @mw-notice-border;
}

div.gallerytext {
    color: @shuttle-gray;
    font-size: .85em;
    line-height: 1.6em;
    
    p {
        margin: .5em 0;
    }

}

/* -------------------------------------
      header at the top of file pages
   ------------------------------------- */
#filetoc {
	background: @mw-notice-background;
    border: 1px solid @mw-notice-border;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 1.5em;
}

/* ----------------------------
      page history revisions
   ---------------------------- */
#pagehistory {
    margin: 15px 0;
    list-style: none;

    li {
        padding: 1px 10px;

        &.selected {
            border: 1px solid @mw-notice-border;
            background: @mw-notice-background;
        }

    }

    .mw-history-histlinks {
        padding-right: 5px;
    }

    .mw-userlink {
        font-weight: bold;
    }

}

/* ------------------------------
      make watchlist alert in
      page history stand out
   ------------------------------ */
.updatedmarker {
    color: #1b8408;

    &:before {
        content: '(';
    }

    &:after {
        content: ')';
    }

}

/* ----------------------------------
      highlight section heading
      when it matches url fragment
   ---------------------------------- */
.mw-headline:target {
    color: @la-palma;

    &::before {
        content: '#';
        position: absolute;
        left: -1rem;
    }

}

/* ----------------
        other
   ---------------- */
#contentSub {
    margin-left: 0;
}

// smw box that randomly appears at the bottom
.smwfact {
    display: none;
}