// <pre>
/* ==============================
       [[Template:Inventory]]
   ============================== */

.inventorytable {
    background-image: filepath('Inventory_interface.png');
    background-repeat: no-repeat;
    background-position: top left;
    width: 174px;
    height: 328px;
    padding: 37px 0 42px;
    border-spacing: 0;

    td {
        padding: 0 !important;
        border: 0 !important;
        text-align: center;
        position: relative;
        width: 46px;
        height: 36px;
    }
}