// <pre>
/* =====================================
     [[MediaWiki:Common.js/issues.js]]
   ===================================== */

#issues-form-modal {

    #issue-form-wrapper {

        #issue-form-box {
            border-color: #eee;
            background: #f9f9f9;
        }

        #issue-form-count {
            color: #a9a9a9;
        }
    }

    .modalToolbar {
        .wds-button {
            border-color: @theme-buttons;
            background-color: @theme-buttons;

            &:hover {
                border-color: darken( @theme-buttons, 7% );
                background-color: darken( @theme-buttons, 7% );
            }
            
            &.wds-is-secondary {
                color: @theme-buttons;
                background-color: transparent;

                &:hover {
                    color: darken( @theme-buttons, 7% );
                    border-color: darken( @theme-buttons, 7% );
                }
                
            }

        }

    }

}