// <pre>
/* =============================
       [[Template:Key press]]
   ============================= */

.keypress {
    background: @gallery;
    color: @mineshaft;
    font-family: monospace;
    text-shadow: 0 1px 0 @white;
    border: 1px solid @silver;
    .border-radius( 3px );
    margin: 0 0.1em;
    padding: 0.1em 0.5em;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}