// <pre>
/* ----------------------------
       [[Template:License]]
   ---------------------------- */
.license {
    background: #cfd8eb;

    th {
        background-color: #617ebc;
        color: #fff;
    }

    a {	
        color: #556d97;
    }

}