// <pre>
/* ----------------------------
       [[Template:License]]
   ---------------------------- */
.license {
    background: #cfd8eb;
    border: none;

    th {
        padding-right: 0.4em;
        background-color: #617ebc;
        color: #fff;
        width: 25%;

        &[colspan="2"] {
            font-size: 16px;
        }

    }

    a {	
        color: #556d97;
    }

}