// <pre>
/* =================
      link colors
   ================= */

@internal-link-color: saturate( darken( @steel-blue, 6% ), 8% );
@external-link-color: lighten( spin( @internal-link-color, 15% ), 5% );

/* --------------------
      internal links
   -------------------- */
a,
image a,
table.wikitable a,
table.prettytable a,
table.messagebox a,
div.vectorTabs li a, /* top tabs */
div.vectorMenu li a, /* top tabs dropdown */
div#mw-panel div.portal div.body ul li a, /* sidebar */ {
    color: @internal-link-color;

    &:visited,
    &:active {
        color: @internal-link-color;
    }
    
}

/* --------------------
      external links
   -------------------- */
.mw-body-content a.external,
.mw-body-content a.extiw, /* interwiki link */ {
    color: @external-link-color;

    &:visited,
    &:active {
        color: @external-link-color;
    }

}