// <pre>
/* ===================
        MAIN PAGE
   =================== */

// @TODO: switch to grid for layout with flexbox fallback

/* ===================
        variables
   =================== */

@mp-text-light: fade( @white, 90% );
@mp-border-color: @mystic;
@mp-gutter-width: .9rem;

/* ===================
          mixins
   =================== */

// background-image support for high DPI screens
// (not currently used)
.bg-image(@filename; @width: 400; @2xwidth: @width*2;) {
    background-image: filepath( escape('@{filename}'), '@{width}' );

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: filepath( escape('@{filename}'), '@{2xwidth}' );
    }

}

// skill training colors
.skill-color(@color) {

    // icon
    a:first-child {
        background: desaturate( lighten( @color, 15% ), 20% );
    }

    // skill name
    &:hover a:last-child {
        background: @color;
    }

}

/* ====================
      general styles
   ==================== */

.mainpage-header {

    .announcement {

        a {
            background: @black-haze;
            border: 1px solid @mystic;
            color: @shuttle-gray;
            
            &:hover {
                box-shadow: @box-shadow;
            }

        }

        .announcement-pill {
            background: @lima;
            color: @white;
        }

        .arrow.dark {
            filter: invert(50%);
        }

    }

}

// main sections
.mainpage-body {

    h2 a {
        color: @base-heading-color; // from [[MediaWiki:Common.less/elements.less]]
    }

    .tile-row {
        margin-bottom: @mp-gutter-width;
    }

}

// left column
.mainpage-left {
    margin-right: @mp-gutter-width;

    > * {
        margin: 0 0 @mp-gutter-width;
    }

}

// right column
.mainpage-right {

    > * {
        margin: 0 0 @mp-gutter-width;
    }

}

/* ====================
        components
   ==================== */

.arrow {
    background: filepath('White-chevron.svg') no-repeat;

    &.dark {
        filter: invert(80%);
    }

}

// remove after one month
.ribbon {
    color: @white;
    background: @lima;
    box-shadow: @box-shadow;
}

/* =============================
      section-specific styles
   ============================= */

/* --------------------
      recent updates
   -------------------- */

.mainpage-recent-updates {

    .tile-halves {
        margin-right: @mp-gutter-width;
    }

    p:not(.byline) {
        color: @river-bed;
    }

    .jagex-promotion .byline {
        color: @medium-purple;
    }

}

/* --------------------
      skill training
   -------------------- */

.mainpage-skills {

    // skill row
    li {
        a {
            // skill text
            &:last-child {
                color: @base-text-color; // from [[MediaWiki:Common.less/elements.less]]
            }

        }

        &:hover a {
            &:last-child {
                color: @mp-text-light;
            }

        }

    }

}

// .skill-agility,
// .skill-melee {
//     .skill-color( #932419 ); // red
// }

// .skill-ranged {
//     .skill-color( #4c6215 ); // green
// }

// .skill-magic {
//     .skill-color( #304791 ); // blurple
// }

// .skill-fishing,
// .skill-fletching {
//     .skill-color( #1a6671 ); // bluish
// }

// .skill-cooking,
// .skill-divination,
// .skill-thieving {
//     .skill-color( #713684 ); // purple
// }

// .skill-farming,
// .skill-woodcutting {
//     .skill-color( #306f25 ); // dark green
// }

// .skill-mining,
// .skill-summoning {
//     .skill-color( #315f8d ); // dark blue
// }

// .skill-invention,
// .skill-smithing {
//     .skill-color( #b69213 ); // gold
// }

/* --------------------
      runescape news
   -------------------- */

.mainpage-news {
    .news-updates {
        border-right: 1px solid @mp-border-color;
    }
}

/* --------------------
      discord server
   -------------------- */
@discord-purple: #7289da;
@discord-purple-dark: #697ec4;

.mainpage-discord  {
    box-shadow: @box-shadow-dark;

    .tile-top {
        background: @discord-purple;
    }

    .tile-bottom {
        background: @discord-purple-dark;

        p {
            color: @white;
        }

    }

    .server-name {
        color: @white;
    }

    .server-tagline {
        color: @mp-text-light;
    }
}

/* --------------------
      edit the wiki
   -------------------- */

.mainpage-editing {
    box-shadow: @box-shadow-dark;

    .tile-top {
        background: @steel-blue;
    }

    .tile-bottom {
        background: saturate( darken( @steel-blue, 4% ), 4% );
    }

    h2,
    a {
        color: @white;
    }

    p {
        color: @mp-text-light;
    }

    ul {
        list-style-image: filepath('Transparent-chevron.svg');
    }

}

/* --------------------
      featured image
   -------------------- */

.mainpage-fimg {

    img {
        .filter( drop-shadow(0 .15em .25em rgba(0,0,0,.15)) );
    }
}