// <pre>
/* =================================
     [[Template:Menaphite script]]
   ================================= */

.menaphite-script {
    word-spacing: 15px;
    width: 85%;

    img {
        padding: 0 3px;
    }

    p:first-of-type { // first line isn't wrapped in <p>, so this fakes the missing padding
        margin-top: 1em;
    }

    .js-tooltip-click {
        font-size: 12px;
        border-radius: 5px;
        background-color: #898989;
        border-color: #898989;
        padding-right: 0.4em;
        margin-left: 0.5em;
    }

}