// <pre>
/* =====================
       Messageboxes
   ===================== */

.messagebox {
    border-left: 15px solid #90c2dd;
    background-color: #f1f1f1;

    &.obsolete {
        background-color: #cfcfcf;
        border-color: #464646;

        a,
        a:visited,
        a:active {
            color: #6c6c6c;
        }
    }

    &.info {
        background-color: #ebebeb;
        border-color: #898989;

        a,
        a:visited,
        a:active {
            color: #6c6c6c;
        }
    }

    &.action {
        background-color: #cbdae2;
        border-color: #45697D;

        a,
        a:visited,
        a:active {
            color: #3c5c6e;
        }
    }

    &.file {
        background-color: #cfd8eb;
        border-color: #617ebc;

        a,
        a:visited,
        a:active {
            color: #556d97;
        }
    }

    &.warn {
        background-color: #ecd8d5;
        border-color: #861c10;

        a,
        a:visited,
        a:active {
            color: #861c10;
        }
    }

    &.disambig {
        background-color: #ebebeb;
        border-color: #898989;

        a,
        a:visited,
        a:active {
            color: #6c6c6c;
        }
    }

    &.safe {
        background-color: #d8f0d3;
        border-color: #1b8408;

        a,
        a:visited,
        a:active {
            color: #1b8408;
        }
    }

    &.unsafe {
        background-color: #ffee88;
        border-color: #997700;

        a,
        a:visited,
        a:active {
            color: #997700;
        }
    }

    &.easter {
        background-color: #e5f9c2;
        border-color: #598014;

        a,
        a:visited,
        a:active {
            color: #598014;
        }
    }

    &.halloween {
        background-color: #e8d8ea;
        border-color: #794080;

        a,
        a:visited,
        a:active {
            color: #794080;
        }
    }

    &.thanksgiving {
        background-color: #f0cba8;
        border-color: #a65800;

        a,
        a:visited,
        a:active {
            color: #a65800;
        }
    }

    &.christmas {
        background-color: #d4eaf6;
        border-color: #428bb5;

        a,
        a:visited,
        a:active {
            color: #3a799d;
        }
    }

}