@grey: #ddd;

/* ===========================
       [[Template:Navbox]]
   =========================== */

.navbox {
    background: #f9f9f9;

    // only main navbox, not subnavboxes
    &:not(.navbox-collapsible) {
        box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.1);
    }

    // main header
    .navbox-title {
        background: @steel-blue;
        color: #fff;

        a {
            color: #fff;
        }
        
        a:visited {
        	color: #fff;
        }

    }

    // footer
    .navbox-footer {
        background: @steel-blue;
        
        a {
            color: #fff;
        }
        
        a:visited {
        	color: #fff;
        }
        
    }

    // navbox grouping header
    .navbox-group {
        background: @mystic;
        border: 1px solid #d8e5ff;

        a:visited {
        	color: #327bae;
        }

    }

	// navbox group content
    .navbox-list {
        border-bottom: 1px solid #d8e5ff;
    }

    // nested navboxes only
    .navbox.navbox-collapsible {
        .navbox-title {
            background: #7fa9db;
        }
    }

}
