// <pre>
/* -------------------------------
       [[Template:Perk link]]
   ------------------------------- */

.perk-link {
    background: #09222F;
    border-radius: 111px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    display: inline-table;
}