// <pre>
/* ==============
       <poll>
   ============== */

@poll-bg-color: @white;

.ajaxpoll {
    background: @poll-bg-color;
    border: 1px solid @mystic;
    box-shadow: @box-shadow;

    // percentage bar
    .ajaxpoll-answer-vote {
        background: darken( @alabaster, 1% );

        // bar
        div {
            background: lighten( @loblolly, 5% );
        }

    }

    // status of vote (submitting, submitted, etc)
    .ajaxpoll-ajax {
        color: @gray-chateau;
        background: @alabaster;
    }

    // extra text above and below options
    .ajaxpoll-misc,
    .ajaxpoll-info {
        color: @gray-chateau;
    }

    // weird way of hiding poll id ¯\_(ツ)_/¯
    .ajaxpoll-id-info {
        color: @poll-bg-color;
    }

}