// <pre>
/* ==============================
     [[Template:Portal-links]]
   ============================== */

.portal-link {

    a {
        background-color: darken( @default-page, 2% );
        color: darken( @default-page, 75% );
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.03);

        &:hover {
            background-color: darken( @default-page, 5% );
        }

    }

    &.article a {
        border-top: 8px solid @theme-body;

        &:hover {
            background-color: @theme-body;
            color: @default-page;
        }

    }

    &.file a {
        border-top: 8px solid #617ebc;
        background-color: #cfd8eb;

        &:hover {
            background-color: #617ebc;
            color: @default-page;
        }

    }

    &.template a {
        border-top: 8px solid #898989;
        background-color: #ebebeb;

        &:hover {
            background-color: #898989;
            color: @default-page;
        }

    }

}