// <pre>
/* ----------------------------------
       [[Template:Quest details]]
   ---------------------------------- */

.questdetails {
    text-align: left;
    margin: 0 auto 10px;
    padding: 1px; 
    background-color: @default-page;
    border: 1px solid darken( @default-page, 33.5% );

    .questdetails-header {
        width: 15%;
        padding: 0 1em;
        font-weight: bold;
        background-color: darken( @default-page, 5% );
        vertical-align: top;
    }

    .questdetails-info {
        width: 85%;
        padding-left: 1em;
    }
}