// <pre>
/* ----------------------------------
       [[Template:Quest details]]
   ---------------------------------- */

.questdetails {
    background-color: @default-page;
    border: 1px solid darken( @default-page, 33.5% );

    .questdetails-header {
        background-color: darken( @default-page, 5% );
    }
}