// <pre>

/* ========================
      [[Template:Quote]]
   ======================== */

blockquote {
    color: @shuttle-gray;

    p:not(.quote-source) {
        border-left: 3px solid @mystic;
    }

}

/* ==========================
      [[Template:Cquote2]]
   ========================== */

.pullquote {

    .quotation-mark {
    	color: @gray-chateau;
    }
}