// <pre>
/* =========================
     [[Template:Shortcut]]
   ========================= */

.shortcut {
    background: #f9f9f9;
    border: 1px solid #eee;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.5em;
    text-align: center;
    font-size: 75%;
    float: right;
 }