// <pre>
/* =====================
       Special pages
   ===================== */

/* ---------------------------------
       [[Special:CreateAccount]]
       [[Special:UserLogin]]
   --------------------------------- */

// custom message on Special:CreateAccount
#signupstart,
// custom message on Special:UserLogin
#userloginprompt {
    border: 1px solid @mystic;
    box-shadow: @box-shadow;
}

// comments under real name field on Special:CreateAccount
.signup-realname-tip {
    color: darken( @boulder, 7% );
}

/* ---------------------------------
       [[Special:RecentChanges]]
   --------------------------------- */
// byte marker colours
.mw-plusminus-pos {
    color: #006500;
}

.mw-plusminus-neg {
    color: #8b0000;
}

// makes (abusefilter) tags stand out more
.mw-tag-markers,
.mw-tag-markers a {
    color: red;
}

// remove certain styles from tags
.mw-tag-marker-visualeditor a,
.mw-tag-marker-visualeditor-needcheck a {
    color: #e49f10;
}

// [[Mediawiki:Recentchangestext]]
.mw-recentchanges-toplinks {

    .speedy-delete a,
    .speedy-move a {
        color: #cb1c00;
    }

}

/* --------------------------
       [[Special:Search]]
   -------------------------- */
// prevent columns from being an unreadable mess


/* -----------------------------
       [[Special:Listfiles]]
   ----------------------------- */
// fixing small images on FileList

/* -----------------------------
       [[Special:NewFiles]]
   ----------------------------- */

/* -----------------------------
       [[Special:Browse]]
   ----------------------------- */

// default: http://i.imgur.com/EsO7M5r.png
// using a white border to fake padding between rows wtf ???

@smw-border-color: #ddd;
@smw-title-bg-color: #ededed;
@smw-header-bg-color: #f5f5f5;
@smw-row-bg-color: #fafafa;

// table title
.smwb-title {
    background-color: @smw-title-bg-color;
    border: 1px solid @smw-border-color;
}

// rows
.smwb-propvalue,
.smwb-ipropvalue {

    // header
    .smwb-prophead {
        background-color: @smw-header-bg-color;
        border: 1px solid @smw-border-color;
    }

    // value
    .smwb-propval {
        background-color: @smw-row-bg-color;
        border: 1px solid @smw-border-color;
    }

}

// centered row
.smwb-center {
    background-color: @smw-header-bg-color;
    border: 1px solid @smw-border-color;
}

/* -----------------------------
             OTHER
   ----------------------------- */

/*  Mark redirects */
/* [[Special:Watchlist]] */
.watchlistredir a,
/* [[Special:AllPages]] */
.allpagesredirect a {
    color: #888;
}

/* Replace default #ffa in [[Special:NewPages]] */
.not-patrolled {
    background-color: @alabaster;
    border-right: 10px solid #eee;
}

/* Special:AbuseFilter */
/* fix table overflowing: http://i.imgur.com/WNZH9f4.png */
.mw-special-AbuseLog .mw-abuselog-details {
}