// <pre>
/* ----------------------------
       [[Template:Statbox]]
   ---------------------------- */

.statbox {
    color: #ff8c00;
    text-shadow: #000 1px 1px 0;
    background-color: #000;

    td {
        .xpbox {
            background-color: #0d0d0d;
            border: 1px solid #ebece6;
            color: #f5b241;
        }

        &[colspan="3"] {
            color: #fff;
        }

    }

}