// <pre>
/* ==============================
         <tabber> styling
   ============================== */

.tabberlive {

    ul.tabbernav {

        li a {
            background-color: darken( @default-page, 3% );
            color: #3a3a3a;

            &:hover {
                background-color: darken( @default-page, 7% );
            }

            &:link {
                color: #3a3a3a;
            }

        }

        li.tabberactive a {
            background-color: @theme-buttons;
            color: @default-page;

            &:hover {
                background-color: darken( @theme-buttons, 5% );
                color: @default-page;
            }
            
        }

    }

    div.tabbertab {
        background-color: darken( @default-page, 3% );
    }

}