// <pre>
/* backgrounds for [[Template:THGem]] */

.THGem-common {
    background-image: filepath('THGem-common.png');
}

.THGem-fairly-common {
    background-image: filepath('THGem-fairly-common.png');
}

.THGem-uncommon {
    background-image: filepath('THGem-uncommon.png');
}

.THGem-rare {
    background-image: filepath('THGem-rare.png');
}

.THGem-very-rare {
    background-image: filepath('THGem-very-rare.png');
}

.THGem-ultra-rare {
    background-image: filepath('THGem-ultra-rare.png');
}

.THGem-none {
    background-image: filepath('THGem-none.png');
}