.timer-modal {
    background: @white;
    filter: drop-shadow(0 .13em .2em rgba(0,0,0,.2)); // box-shadow doesn't include ::after

    &::after {
        border-bottom-color: @white;
    }

}

.timer-bottom {
    background: @black-haze;
}


.timer-footer {
	color: gray;
}

.event-active {
    color: @lima;
}

.event-secondary {
    color: @gray-chateau;
}
