// <pre>
/* =======================================
     [[MediaWiki:Common.js/tooltips.js]]
   ======================================= */

.js-tooltip-wrapper {
    border: 3px solid @theme-buttons;
    background: @theme-page;
    .box-shadow( 3px 3px 10px -5px #333 );
}

.js-tooltip-click {
    color: white;
    background: @theme-buttons;
    border: 2px solid @theme-buttons;
}

.js-tooltip-arrow {
    border-color: transparent;
    border-style: solid;

    &.js-tooltip-arrow-pointleft {
        border-right-color: @theme-buttons;
    }

    &.js-tooltip-arrow-pointright {
        border-left-color: @theme-buttons;
    }

}

.js-tooltip-close {
    background: @theme-buttons;
}