// <pre>
/* ============================
     [[Module:Towers solver]]
   ============================ */

.wikitable.towers {
    display: inline-table;
    width: 160px;
    height: 150px;
    margin-right: 1em;
    text-align: center;
}