// <pre>
//
// [[Module:Update]] includes:
//     [[Template:Update]]
//     [[Template:Patch Notes]]
//     [[Template:DevBlog]]
// [[Template:God letter]]
// [[Template:Postbag article]]
// [[Template:Lore]]

.official {
    background: @white;
    border: 1px solid @mystic;
    margin: 1em 0 1.5em;
    padding: .5em;
    text-align: center;
    box-shadow: @box-shadow;
}