// <pre>
/* ================================
       [[Template:Update list]]
   ================================ */

.update-list {

    // remove underline on hover
    &:hover a {
        text-decoration: none;
    }

    // blue
    a {
        color: white;
        background: @curious-blue;
        font-size: 80%;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 2px 5px;
    }
    
    // dark grey
    &.hidden a,
    &.ninja a {
        background: @river-bed;
    }

    // green
    &.patch a {
        background: @lima;
    }

    // red
    &.hotfix a,
    &.coldfix a {
        background: @flamingo;
    }

}