// <pre>
/* ================================
       [[Template:Update list]]
   ================================ */

.update-list {

    // blue
    a {
        color: white;
        background: @curious-blue;
    }
    
    // dark grey
    &.hidden a,
    &.ninja a {
        background: @river-bed;
    }

    // green
    &.patch a {
        background: @lima;
    }

    // red
    &.hotfix a,
    &.coldfix a {
        background: @flamingo;
    }

}