// <pre>
/* ======================
      THEME VARIABLES
   ====================== */
// refer to [[RuneScape:Theme]] for instructions
// colors are sorted from darkest to lightest
// see <https://davidwalsh.name/sass-color-variables-dont-suck> for naming system

/* ------------------
      brand colors
   ------------------ */

// blues
@chathams-blue:    #115883;
@jelly-bean:       #246c97;
@steel-blue:       #438ab5;
@fountain-blue:    #6ba5c8;
@spindle:          #c1deee;
@selago:           #f6fbfe;

// gray-blues
@river-bed:        #444e5a;
@shuttle-gray:     #5d6773;
@gray-chateau:     #949eaa;
@loblolly:         #bdc5cd;
@mystic:           #e4eaee;
@black-haze:       #f9fafa;

// grays
@mineshaft:        #333333;
@tundora:          #4c4c4c;
@boulder:          #777777;
@silver:           #cccccc;
@gallery:          #eeeeee;
@alabaster:        #f9f9f9;

// dark mode
@black-pearl:      #071022;
@big-stone:        #172136;
@cloud-burst:      #222e45;
@pickled-bluewood: #313e59;
@waikawa-grey:     #596e96;
@portage:          #8cabe6;

/* -------------------
      status colors
   ------------------- */

// reds
@flamingo:         #f54636;

// oranges
@ecstasy:          #f7861b;

// yellows
@supernova:        #f9c500;

// greens
@la-palma:         #468314;
@lima:             #6bc71f;

// blues
@curious-blue:     #229ce6;

// purples
@medium-purple:    #b137e8;

// other
@black:            #000000;
@white:            #ffffff;
@content-bg:       @alabaster;

/* ----------------
       shadows
   ---------------- */

@box-shadow:       0 .25rem .35rem -0.25rem rgba(0,0,0,.1);
@box-shadow-dark:  0 .25rem .35rem -0.25rem rgba(0,0,0,.3);

/* ------------------------
        easing curves
     <http://easings.net>
   ------------------------ */

@ease-out-quad:    cubic-bezier(0.25, 0.46, 0.45, 0.94);
@ease-out-cubic:   cubic-bezier(0.215, 0.61, 0.355, 1);

/* -----------------
       typefaces
   ----------------- */
// imported in [[MediaWiki:Common.less/fonts.less]]

@serif-stack:      'PT Serif', 'Palatino', 'Georgia', serif;
@sans-serif-stack: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;

/* ----------------
       old vars
   ---------------- */
// @TODO: go through subpages and replace these with the new ones above

@theme-body:       #90c2dd;
@theme-buttons:    #438ab5;
@theme-header:     #90c2dd;
@theme-links:      #438ab5;
@theme-page:       #ffffff;
@default-page:     #fff;