// <pre>
/* ========================
          wikitables
   ======================== */

@wikitable-background: @white;
@wikitable-header-background: @steel-blue;
@wikitable-header-link: @white;

table.wikitable {
    background: @wikitable-background;
    box-shadow: @box-shadow;

    // headers
    > * > tr > th {
        color: @white;
        background: @wikitable-header-background;
        border-color: darken( @wikitable-header-background, 10% );

        a {
            color: @wikitable-header-link;
        }
        
        a:visited {
            color: @wikitable-header-link;
        }

    }

    // cells
    > * > tr > td {
        border-color: darken( @wikitable-background, 10% );
    }

	// i forget what this is for
    .header-top {
        background: #448fba;
    }

}

/* alternating colours (similar to spreadsheets) */
table.alternating-rows tr:nth-child(even) {
    background: darken( @wikitable-background, 2.5% );
}

table.alternating-cols td:nth-child(even) {
    background: darken( @wikitable-background, 2.5% );
}