// <pre>
/* =================
       Yew Grove
   ================= */


.forumheader { 
    border-left: 15px solid #ccc;
    background-color: #f1f1f1;
}
 
.forumlist td.forum_title a.forum_new:visited {
    background: none repeat scroll 0 0 transparent !important;
}

.forumactiveheader,
.forumarchiveheader,
.forumoldarchives {
    background-color: @theme-buttons;
    color: contrast( @theme-buttons );
}

.forumoldarchives a {
    color: contrast( @theme-buttons );
}

.forumcolumnheader {
    background-color: darken( @default-page, 10% );
    color: contrast( @default-page );
}