// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      COLORS
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// =======================
//      Primay colors
// =======================
@theme-text          : #c5c5c5;
@theme-borders       : #52555a;
@theme-links         : #6bbaea;
@theme-redlinks      : #ba0000;
@theme-green         : #1e5400;
@theme-green-lighter : lighten(@theme-green, 2.5%);
@theme-red           : #b32424;
@theme-grey          : #1e1e1e;
@theme-grey-darker   : darken(@theme-grey, 3.5%);
@theme-gray-lighter  : lighten(@theme-grey, 3%);
@theme-gray-lighter-2: lighten(@theme-grey, 9%);
@theme-grey-2        : lighten(@theme-grey, 8%);
@theme-grey-2-darker : darken(@theme-grey-2, 3%);
@theme-gray-2-lighter: lighten(@theme-grey-2, 20%);
@theme-blue          : #265588;
@theme-blue-lighter  : lighten(@theme-blue, 8%);

// ==========================
//      Secondary colors
// ==========================
//----- general -----//
@main-page-bg           : @theme-grey;
@homepage-module-bg     : @theme-grey-2;
@sidebar                : lighten(@theme-grey, 3%);
@pageheader-bg          : @theme-blue;
@table-data             : @theme-grey-2;
@table-header           : @theme-grey-2-darker;
@highlight-table-on     : @theme-green;
@highlight-table-hover  : @theme-green-lighter;
@documentation-bg       : @theme-gray-lighter;
@categories             : @theme-grey-darker;
@messageboxes           : @theme-grey-darker;
@edit-area-bg           : #a9a9a9;
@edit-area-sidebar-bg   : lighten(@main-page-bg, 7%);
@edit-area-sidebar-shade: @main-page-bg;
@rail-module-bg         : @theme-grey-2-darker;
@popup-bg               : @theme-grey;
@popup-header-bg        : lighten(@popup-bg, 5%);
@tooltip-bg             : @theme-gray-lighter;
@input-group-wrapper    : @theme-grey-darker;

//----- Buttons -----//
@button-bg-base               : lighten(@theme-grey-2, 15%);
@button-bg-base--hover        : lighten(@button-bg-base, 3%);
@button-bg-base--active       : darken(@button-bg-base, 5%);
@button-bg-progressive        : @theme-blue;
@button-bg-progressive--hover : lighten(@button-bg-progressive, 7%);
@button-bg-progressive--active: darken(@button-bg-progressive, 7%);
@button-bg-destructive        : @theme-red;
@button-bg-destructive--hover : lighten(@theme-red, 5%);
@button-bg-destructive--active: darken(@theme-red, 5%);
@button-bg-disabled           : lighten(@theme-grey-2, 0%);
@button-text-base             : lighten(@theme-text, 10%);
@button-text-progressive      : #99c4f1;
@button-text-destructive      : lighten(@theme-red, 10%);
@button-text-primary          : lighten(@theme-text, 20%);
@button-text-disabled         : darken(@theme-text, 25%);
@button-group-separator       : lighten(@button-bg-base, 15%);

//----- Text input fields -----//
@input-fields-bg              : @theme-gray-lighter-2;
@input-fields-bg-readonly     : darken(@theme-grey-2, 5%);
@input-fields-border          : @theme-borders;
@input-fields-border--hover   : lighten(@theme-borders, 10%);
@input-fields-text            : @theme-text;
@input-fields-opacity-disabled: 0.5;
@placeholder-text             : darken(@theme-text, 20%);

//----- Checkboxes and radio buttons -----//
@checkbox-bg-base         : @input-fields-bg;
@checkbox-bg-active       : @theme-blue-lighter;
@checkbox-bg-disabled     : @button-bg-disabled;
@checkbox-border-base     : @theme-borders;
@checkbox-border-active   : @theme-blue-lighter;
@checkbox-border-disabled : @button-bg-disabled;
@checkbox-opacity-disabled: 0.5;

//----- Dropdown selects -----//
@select-bg              : @input-fields-bg;
@select-bg--hover       : @select-bg;
@select-border          : @theme-borders;
@select-text            : @theme-text;
@select-opacity-disabled: 0.5;
@dropdown-bg            : @theme-grey-2-darker;
@dropdown-bg-hover-item : lighten(@dropdown-bg, 5%);
@dropdown-border        : @theme-borders;
@dropdown-text          : @theme-text;
@dropdown-text--hover   : @theme-text;

//----- Progress bar -----//
@progressbar-bg              : @input-fields-bg;
@progressbar-bar             : @theme-blue-lighter;
@progressbar-bar-disabled    : @button-bg-base;
@progressbar-border          : @theme-borders;

//----- ooui icons -----//
@ooui-icon-base          : #000;
@ooui-icon-base--inverted: #f8f9fa;
@ooui-icon-progressive   : @theme-blue;
@ooui-icon-destructive   : @theme-red;
@ooui-icon-warning       : #ff5d00;

//----- scrollbar -----//
@theme-scroll-bar     : hsl(0, 0%, 20%);
@scroll-bar-main-color: @theme-scroll-bar;
@scroll-bar-1-track   : hsl(0, 0%, 15%);
@scroll-bar-1-thumb   : hsl(0, 0%, 25%);
@scroll-bar-2-track   : hsl(0, 0%, 50%);
@scroll-bar-2-thumb   : hsl(0, 0%, 20%);

//----- basic htlm elements -----//
@code-editor-bg: @documentation-bg;
@pre-tag-bg    : @theme-gray-lighter-2;
@code-tag-bg   : @theme-gray-lighter-2;

//----- text -----//
@positive-change     : #06df2e;
@negative-change     : lighten(#c02614, 5%);
@base-text-diabled   : #72777d;

//----- templates -----//
@coins-positive : lighten(#5799c1, 2%);
@coins-negative : lighten(#c02614, 5%);

@red-bg          : darken(#861c10, 10%);
@yellow-bg       : darken(#f3f0b0, 60%);
@green-bg        : #1e5400;
@green-lighter-bg: #006d13;

@navbox-title-bg  : @theme-blue;
@navbox-title-2-bg: @theme-blue-lighter;
@navbox-group-bg  : @theme-grey-2-darker;

@infobox-background     : @table-data;
@infobox-header-color   : @theme-blue;//#246c97;
@infobox-subheader-color: @theme-blue-lighter;//#6ba5c8;
@infobox-cell-border    : @theme-borders;
@infobox-header-border  : @table-data;