// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      Imports
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "Colors.less";
@import "Mixins.less";
@import "ooui/ooui.less";

@import "src/wiki_styles/common.less";

@import "Custom classes.less";
@import "Media.less";
@import "GEcharts.less";
@import "HTML tags.less";
@import "Interactive input.less";
@import "Lua, js, css pages.less";
@import "Messageboxes.less";
@import "Namespace specific styling.less";
@import "Page header.less";
@import "Page history.less";
// @import "Page specific styles.less";
// @import "Popups.less";
@import "Source editor.less";
@import "Tables.less";
@import "Templates.less";
// @import "Visual editor.less";



// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ 
//      General styling
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

// ==================
//      Wikipage
// ==================
// -----------------------------------
//      Background and text color
// -----------------------------------
.mw-body {
    color: @theme-text;
    background-color: @main-page-bg;
    border-color: @theme-borders;
    box-shadow: 0 0 7px fade(@main-page-bg, 80%);
}

// links
a,
image a,
table.wikitable a,
table.prettytable a,
table.messagebox a,
div.vectorTabs li a,
div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
    .links();
}

.mw-body-content a.external, 
.mw-body-content a.extiw {
    .links();
}

// Mediawiki help indicators
#mw-indicator-mw-helplink a {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="@{ooui-icon-base--inverted}"> <path d="M12.001 2.085c-5.478 0-9.916 4.438-9.916 9.916 0 5.476 4.438 9.914 9.916 9.914 5.476 0 9.914-4.438 9.914-9.914 0-5.478-4.438-9.916-9.914-9.916zm.001 18c-4.465 0-8.084-3.619-8.084-8.083 0-4.465 3.619-8.084 8.084-8.084 4.464 0 8.083 3.619 8.083 8.084 0 4.464-3.619 8.083-8.083 8.083z"/> <path d="M11.766 6.688c-2.5 0-3.219 2.188-3.219 2.188l1.411.854s.298-.791.901-1.229c.516-.375 1.625-.625 2.219.125.701.885-.17 1.587-1.078 2.719-.953 1.186-1 3.655-1 3.655h1.969s.135-2.318 1.041-3.381c.603-.707 1.443-1.338 1.443-2.494s-1.187-2.437-3.687-2.437zM11 16h2v2h-2z"/> </svg>') left center no-repeat;
}

// -----------------
//      Sidebar
// -----------------
body {
    background-color: @sidebar;
    // background-image: url("https://i.imgur.com/zG8u7oP.jpg");
    background-image: url("https://i.imgur.com/AFaXBVa.jpg");
    // background-image: url("https://i.imgur.com/NmS5DBk.jpg");
}

#mw-panel .portal h3 {
    color: @theme-text;
}

// --------------------------------
//      Common article styling
// --------------------------------
//----- Table of content -----//
#toc {
    background-color: @table-data;

    .toctitle {
        border: solid 1px @theme-borders;
        background: @table-header;

        h2 {
            color: @theme-text;
        }

        a {
            .links();
        }
    }

    // border of the box
    & > ul {
        border-color: @theme-borders;
    }

    // indent guide
    ul ul {
        border-color: @list-indent-guide;
    }

    // text
    .toclevel-1 a {
        color: @theme-text;
    }

    .toclevel-2 a {
        color: @theme-text-subtle;
    }
}

//----- "Redirected from" message -----//
#contentSub,
#contentSub2 {
    color: @theme-text-subtle;
}

// ---------------------
//      Page footer
// ---------------------
#footer ul li {
    color: @theme-text-subtle;
}

// -------------------------------
//      Autocomplete dropdown
// -------------------------------
// container
.suggestions-results,
.suggestions-special {
    background: @dropdown-bg;
    border-color: @dropdown-border;
}

// list item
.suggestions-result {
    color: @dropdown-text;
}

// last item to search for "containing..."
.suggestions-special {
    .special-label {
        color: darken(@dropdown-text, 10%);
    }

    .special-query {
        color: @dropdown-text;
    }
}

// hover over item
.suggestions-result-current {
    background: @dropdown-bg-hover-item;
    color: lighten(@dropdown-text, 10%);

    .special-label {
        color: @dropdown-text;
    }

    .special-query {
        color: lighten(@dropdown-text, 10%);
    }
}

// -------------------------------------
//      Categories on wiki articles
// -------------------------------------
.catlinks {
    background: @categories;
    border-color: @theme-borders;
}

// ------------------------------
//      Filter options group
// ------------------------------
form fieldset {
    background: @input-group-wrapper;
    border-color: @input-group-wrapper-border;
    
    legend {
        color: @theme-text;
    }
}