// =======================================
//      Exchange namespace formatting
// =======================================

// ----------------
//      header
// ----------------
.gemw-header {
    .gemw-name a {
        color: @theme-text;
    }

    .gemw-examine {
        color: @theme-text-subtle;
    }

    .gemw-price::after {
        color: @theme-text-subtle;
    }

    .gemw-updated {
        color: @theme-text-subtle;
    }

    .gemw-time {
        color: @theme-text;
    }
}

// --------------
//      body
// --------------
.gemw-body {
    .gemw-section-left {
        a {
            color: @theme-text-subtle;
        }
    }

    .gemw-property {
        border-top-color: @theme-text-subtle;

        dt {
            color: @theme-text;
        }
    }

    .gemw-links {
        color: @theme-text-subtle;
    }

    .gemw-chart {
        background: none;
    }
}

.gemw-container .gemw-button {
    background: @button-bg-progressive;
    border-color: @button-bg-progressive;

    a {
        .links(@button-text-primary);
    }

    &.secondary {
        background: @button-bg-base;
        border-color: @button-bg-base;

        a {
            .links(@button-text-base);
        }
    }
}

// ==================================
//      GE chart general styling
// ==================================
// --------------------
//      Background
// --------------------
.GEChart-bg(@color) {
    GEChartBox {
        background: @color;
    }

    .highcharts-background {
        fill: @color;
    }

    .highcharts-plot-background {
        fill: @color;
    }

    .highcharts-legend-box {
        fill: @color;
    }
}

// For [[GEMC/C]]
.GEChart-bg(@mw-page-bg);

// For in infoboxes
table {
    .GEChart-bg(@GEChart-infobox-bg);
}

// For the popup
#GEchartpopup {
    background: @GEChart-popup-bg;
    .GEChart-bg(@GEChart-popup-bg);
}

// --------------------
//      Axis color
// --------------------
.highcharts-yaxis-grid .highcharts-grid-line {
    stroke: @GEChart-axis;
}

.highcharts-axis-line {
    stroke: @GEChart-axis;
}

// --------------------
//      text color
// --------------------
.highcharts-title {
    color: @GEChart-title !important;
}

.highcharts-subtitle {
    color: @GEChart-subtitle !important;
}

.highcharts-axis-labels > text {
    fill: @GEChart-labels !important;
}

#GEchartpopup {
    color: @theme-text;
}

.highcharts-axis-title,
.highcharts-range-label text,
.highcharts-legend-item text,
.highcharts-range-selector-buttons text {
    fill: @theme-text !important;
}

// ---------------------------------
//      No data to display cell     
// ---------------------------------
.infobox-switch .hidden td[data-attr-param="graph"] {
    background: @GEChart-infobox-bg;
    color: @theme-text;
}

// --------------------------
//      Date slider axis
// --------------------------
.highcharts-navigator-outline {
    stroke: @GEChart-axis;
}

.highcharts-navigator-xaxis .highcharts-grid-line {
    stroke: @GEChart-axis;
}

// -------------------------
//      Date data color
// -------------------------
.highcharts-navigator-series .highcharts-area {
    fill: @GEChart-date-graph-bg;
}

.highcharts-navigator-series .highcharts-graph {
    stroke: @GEChart-date-graph-stroke;
}

// -----------------------
//      Inputs fields
// -----------------------
// Buttons
.zoomButton {
    .highcharts-button-box {
        fill: @button-bg-base;
    }

    &:hover .highcharts-button-box{
        fill: @button-bg-base--hover;
    }

    &:active .highcharts-button-box{
        fill: @button-bg-base--active;
    }

    text {
        fill: @button-text-base !important;
    }
}

// Date "from", "to" fields
.highcharts-label-box {
    stroke: @input-fields-border;
}

.highcharts-range-input {
    .highcharts-label-box {
        stroke: @input-fields-border;
        fill: @input-fields-bg;
    }
    
    text {
        fill: @input-fields-text !important;
    }
}

// -------------------
//      Scrollbar
// -------------------
.GEChartScrollbar(@bgcolor, @tracklighten, @buttonlighten, @thumblighten) {
    .highcharts-scrollbar-track {
        fill: lighten(@bgcolor, @tracklighten);
        stroke: lighten(@bgcolor, @tracklighten);
    }

    .highcharts-scrollbar-button {
        fill: lighten(@bgcolor, @buttonlighten);
        stroke: lighten(@bgcolor, @buttonlighten);
    }

    .highcharts-scrollbar-thumb {
        fill: lighten(@bgcolor, @thumblighten);
        stroke: lighten(@bgcolor, @thumblighten);
    }
}

.GEChartScrollbar(
    @mw-page-bg,
    @GEChart-scrollbar-track-lighten,
    @GEChart-scrollbar-button-lighten,
    @GEChart-scrollbar-thumb-lighten
);

// For in infoboxes
// table {
//     .GEChartScrollbar(
//         @GEChart-infobox-bg,
//         @GEChart-scrollbar-track-lighten,
//         @GEChart-scrollbar-button-lighten,
//         @GEChart-scrollbar-thumb-lighten
//     );
// }

// For the popup
#GEchartpopup {
    .GEChartScrollbar(
        @GEChart-popup-bg,
        @GEChart-scrollbar-track-lighten,
        @GEChart-scrollbar-button-lighten,
        @GEChart-scrollbar-thumb-lighten
    );
}

.highcharts-scrollbar-arrow {
    fill: @GEChart-scrollbar-arrow;
}

.highcharts-scrollbar-rifles {
    stroke: @GEChart-scrollbar-rifles;
    stroke-width: 2px;
}

// ------------------
//      Tooltips
// ------------------
.highcharts-tooltip-box {
    path:last-of-type {
        fill: @GEChart-tooltip-bg;
        stroke: @GEChart-tooltip-border;
    }

    text {
        fill: @theme-text !important;
    }
}