// ===============================
//      Article image and gif
// ===============================
div.gifresize,
div.thumbinner,
div.extimage, {
    .table-infobox();

    .caption,
    .thumbcaption {
        width: auto;
        color: @theme-text;
        border-color: @theme-borders;
        background: @table-data;
        border: none;
        border-top: solid 1px @theme-borders;
    }
}

// =====================
//      Musicplayer
// =====================
div.musicplayer {
    .table-infobox();
}

// ======================
//      Tex formulas
// ======================
.mwe-math-element img {
    filter: invert(0.85);
}

// ===================
//      Galleries
// ===================
.gallery {
    .gallerybox .thumb {
        background-color: @table-data;
        border-color: @theme-borders;
    }

    .gallerytext {
        color: @theme-text-subtle;
    }
}