// ====================
//      Transcript
// ====================
.ns-120 #mw-content-text .mw-parser-output,
.transcript {

    > ul,
    > ul ul {
        li {
            border-left-color: @list-indent-guide;

            b:first-child {
                // First bold word should always be the character
                color: @transcript-namespace-character-name;
            }
        }

        // li:hover {
        //     background-color: @transcript-namespace-section-hover;
        //     outline: solid 1px @transcript-namespace-section-hover-border;

        //     // alternating colours
        //     li:hover,
        //     li:hover li:hover li:hover,
        //     li:hover li:hover li:hover li:hover li:hover,
        //     li:hover li:hover li:hover li:hover li:hover li:hover li:hover {
        //         background-color: @transcript-namespace-section-hover-2;
        //     }

        //     li:hover li:hover,
        //     li:hover li:hover li:hover li:hover,
        //     li:hover li:hover li:hover li:hover li:hover li:hover {
        //         background-color: @transcript-namespace-section-hover;
        //     }
        // }
    }
}

// quest actions for transcripts
// .quest-action:hover {
//     background-color: @transcript-namespace-section-hover;
//     outline-color: @transcript-namespace-section-hover-border;
// }

// ==================
//      Property
// ==================
table.property-page-results {
    .header-title {
        color: @theme-text;
    }

    .value-row:hover {
        background-color: @property-namespace-listitem-hover;
    }
}

// usage count indicator
.smw-property-page-indicator {
    color: @theme-text;
    border-color: @theme-borders;
}

// ==============
//      File
// ==============
/* Header on top of file pages */
#filetoc {
	background: @messageboxes;
    border-color: @theme-borders;
}

/* Metadata table on bottom of the page */
.mw_metadata {
    th {
        background:  @table-header;
        border-color: @theme-borders;
    }

    td {
        background:  @table-data;
        border-color: @theme-borders;
    }
}