// ---------------------
//      Page header
// ---------------------
div.vectorTabs {
    padding: 0;
    background: @vector-tabs;
}

#mw-head .vectorTabs ul li {
    background-color: @vector-tabs;

    &.selected {
        background-color: @mw-page-bg;
        border: solid 1px @theme-borders;
        border-bottom: none;

        span {
            position: relative;
            top: -1px;
        }

        a {
            color: @theme-text;
        }
    }

    &:hover {
        background-color: @vector-tabs--hover;
    }
}

//----- "More" dropdown -----//
#mw-head #p-cactions.vectorMenu h3 {
    background: @vector-tabs;

    span {
        color: @theme-text;

        &:after {
            .oo-ui-indicator-down();
        }
    }
}

#mw-head #p-cactions.vectorMenu:hover h3 {
    background: @vector-tabs--hover;
}

#mw-head .vectorMenu .menu {
    background: @dropdown-bg;
    border-color: @theme-borders;

    li:hover {
        background: @dropdown-bg-hover-item;
    }
}

//----- Searchbar -----//
#mw-head #simpleSearch {
    background: @input-fields-bg;

    #searchInput {
        .text-input-styling();
        border: none;
    }

    #searchButton {
        background-color: transparent;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13"> <g fill="none" stroke="@{theme-text}" stroke-width="2"> <path d="M11.29 11.71l-4-4"/> <circle cx="5" cy="5" r="4"/> </g> </svg>');
        background-position: center center;
        background-repeat: no-repeat;
    }

    // hide button that appears briefly during page loading
    #mw-searchButton {
        display: none;
    }
}

//----- Notification icons -----//
.mw-echo-notifications-badge::before {
    filter: invert(1);
}