// ===================
//      Main page
// ===================
// -------------------------
//      General styling
// -------------------------
// .mainpage-header {
//     .announcement {
//         a {
//             background: @black-haze;
//             border: 1px solid @mystic;
//             color: @shuttle-gray;
            
//             &:hover {
//                 box-shadow: @box-shadow;
//             }
//         }

//         .announcement-pill {
//             background: @lima;
//             color: @white;
//         }

//         .arrow.dark {
//             filter: invert(50%);
//         }
//     }
// }

// main sections
.mainpage-body h2 a {
    color: @theme-text;
}

// ---------------------------------
//      Section-specific styles
// ---------------------------------
//----- Recent updates -----//
.mainpage-recent-updates {
    p:not(.byline) {
        color: @theme-text;
    }

    .jagex-promotion .byline {
        color: #b137e8;
    }
}

//----- Skill training -----//
.mainpage-skills {
    // skill row
    li {
        a {
            // skill text
            &:last-child {
                color: @theme-text;
            }

        }
    }
}

//----- Runescape news -----//
.mainpage-news .news-updates {
    border-right-color: @theme-borders;
}

//----- Help is improve -----//
.mainpage-editing {
    .tile-bottom a {
        .links(@theme-text-highlight);
    }
}


// ==========================================
//      [[RuneScape:Active discussions]]
//      [[Forum:Yew Grove]]
// ==========================================
.discussiontable {
    &.noresults th {
        background-color: @discussion-table-header-noresults-bg;

        a {
            color: @discussion-table-header-noresults-text;
        }
    }

    th {
        color: @discussion-table-header-text;
        background-color: @discussion-table-header-bg;

        a {
            color: @discussion-table-header-text;
        }
    }

    .topic,
    .edited,
    .edited-by,
    .yg-archive {
        color: @discussion-table-title-text;
        background-color: @discussion-table-title-bg;
    }
}

.discussiontable.noresults {
    .topic,
    .edited,
    .edited-by,
    .yg-archive {
        color: @discussion-table-title-text;
        background-color: @discussion-table-title-bg;
    }
}

// =============================
//      [[Forum:Yew grove]]
// =============================
.forumactiveheader,
.forumarchiveheader,
.forumoldarchives {
    background-color: @discussion-table-header-bg;
    color: @discussion-table-header-text;
}

.forumoldarchives a {
    .links(@discussion-table-header-text);
}

.forumcolumnheader {
    background-color: @discussion-table-header-noresults-bg;
    color: @discussion-table-header-noresults-text;
}

.forumsearchbox {
    background: @table-data !important;
    border: solid 1px @theme-borders;
}

// Overwrite {{Archive list}} styling
.forumlist.archive {
    background-color: transparent !important;
    border: none !important;
}

// ===============================
//      Special:Contributions
// ===============================
// Footer on contributions
#sp-contributions-footer {
    background-color: @input-group-wrapper;
    border: 1px solid @input-group-wrapper-border;
}

// ============================
//      [[Special:Search]]
// ============================
.searchresult {
    color: @theme-text-subtle;
}

.mw-search-result-data {
    color: #06df2e;
}

#mw-searchoptions {
    background: @input-group-wrapper;
    border-color: @input-group-wrapper-border;

    .divider{
        border-color: @theme-borders;
    }
}

//----- Results count -----//
.results-info {
    color: @theme-text-subtle;
}

//----- Page footer -----//
.mw-search-profile-tabs {
    color: @theme-text;
    background: @messageboxes;
    border-color: @theme-borders;
}

.search-types .current a {
    .links(@theme-text);
}

// ====================================
//      [[Special:Recent changes]]
// ====================================
// byte marker colours
.mw-plusminus-pos {
    color: @positive-change;
}

.mw-plusminus-neg {
    color: @negative-change;
}

// makes (abusefilter) tags stand out more
.mw-tag-markers,
.mw-tag-markers a {
    .links(@abusefilter-tag);
}

// remove certain styles from tags
.mw-tag-marker-visualeditor a,
.mw-tag-marker-visualeditor-needcheck a {
    .links(#e49f10);
}

// [[Mediawiki:Recentchangestext]]
.mw-recentchanges-toplinks {

    .speedy-delete a,
    .speedy-move a {
        .links(#cb1c00);
    }
}

// Filter options
.rcoptions {
    background: @input-group-wrapper;
    border-color: @input-group-wrapper-border;
}

.mw-changeslist-legend {
    background: lighten(@input-group-wrapper, 5%);
    border-color: @theme-borders;
    color: @theme-text;
}

// ===============================================
//      [[RuneScape:Administrative requests]]
// ===============================================
.introheader,
.admininfo,
.userhelpinfo {
    color: @theme-text !important;
    background-color: @messageboxes !important;
}

// ============================
//      [[Special:Browse]]
// ============================
// searchbox outline
.browse-input-resp .mw-ui-input:focus {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-color: @input-fields-border--hover;
}

.smwb-title,
.smwb-center {
    .table-header();
}

.smwb-propvalue,
.smwb-ipropvalue {
    .smwb-prophead {
        .table-header();
    }

    .smwb-propval {
        .table-data();
        background-color: @table-data,
    }
}

// =========================
//      [[Special:Ask]]
// =========================
//----- Options -----//
#other_options tr:nth-child(even) {
    background: lighten(@input-group-wrapper, 2%) !important;
}

#other_options tr:nth-child(odd) {
    background: lighten(@input-group-wrapper, 7%) !important;
}

.smw-ask-actions a,
.smw-ask-actions a:visited {
    &.smw-ask-action-btn-lblue {
        .button-styling();
    }

    &.smw-ask-action-btn-lgrey {
        .button-styling("grey");
    }
}

//----- Output -----//
// If formatted as category
.smw-column-header {
    color: @theme-text;
}

// If no result or error
.smw-callout {
    color: #000;
}

// ===============================
//      Special:CreateAccount
//      Special:UserLogin
// ===============================
// custom message on Special:CreateAccount
#signupstart,
// custom message on Special:UserLogin
#userloginprompt {
    border: 1px solid @theme-borders;
}

// comments under real name field on Special:CreateAccount
.signup-realname-tip {
    color: @theme-text-subtle;
}

// ===========================
//      Special:Watchlist
//      Special:AllPages
// ===========================
/*  Mark redirects */
/* [[Special:Watchlist]] */
.watchlistredir a,
/* [[Special:AllPages]] */
.allpagesredirect a {
    .links(#888);
}