// ======================
//      RSW-Tooltips
// ======================
// --------------------
//      References
// --------------------
.rsw-tooltip {
    background: @tooltip-bg;
    border-color: @theme-borders;
    color: @popup-text;

    a {
        color: @theme-links;
    }
}

//----- References settings popup -----//
#rsw-config {
    border-color: @theme-borders;
    box-shadow: 0 10px 60px 0px darken(@popup-bg, 20%);
    background: @popup-bg;
    color: @theme-text;

    #rsw-config-header {
        background-color: @popup-bg;
    }

    #rsw-config-footer {
        background-color: @popup-footer-bg;
        border-top-color: @theme-borders;
    }

    #rsw-config-body {
        background-color: @popup-bg;

        #rsw-config-note {
            color: @theme-text-subtle;
            border-bottom-color: @theme-borders;
        }
    }
}

// popup blackout
#rsw-config-background {
    background-color: @popup-blackout-color;
    opacity: @popup-blackout-opacity;
}

// ---------------------------
//      Template tooltips
// ---------------------------
// Example: Invention {{Disassembly}} junk chance tooltip
// popup
.js-tooltip-wrapper {
    border-color: @tooltip-border;
    background: @tooltip-bg;
    box-shadow: 3px 3px 10px -5px rgb(0, 0, 0);
    color: @theme-text;
}

// Button to open popup
.js-tooltip-click {
    color: @button-text-primary;
    background: @button-bg-progressive;
    border: 2px solid @button-bg-progressive;
}

// Arrow of popup border
.js-tooltip-arrow {
    &.js-tooltip-arrow-pointleft {
        border-right-color: @tooltip-border;
    }

    &.js-tooltip-arrow-pointright {
        border-left-color: @tooltip-border;
    }
}

// Close button
.js-tooltip-close {
    .button-styling();
}

// ======================
//      smw tooltips
// ======================
// example [[RuneScape:Semantic_MediaWiki_cheatsheet/examples]]
.qtip-bootstrap {
    background-color: @tooltip-bg;
    color: @theme-text;
    border: 1px solid @theme-borders;

    .qtip-titlebar {
        background-color: darken(@tooltip-bg, 3%);
        border-bottom-color: @theme-borders;
    }

    .qtip-tip canvas {
        filter: invert(0.4);
    }
}

