// ================
//      Header
// ================
.wikiEditor-ui {
    .wikiEditor-ui-view {
        border-color: @theme-borders;
    }

    .wikiEditor-ui-top {
        border-color: @theme-borders;
    }
}

.wikiEditor-ui-toolbar {
    background: @edit-area-header-bg;

    // Sepperation line
    .group {
        border-color: @theme-borders;
        height: auto;
    }

    .tabs span.tab a {
        .links(@theme-text);
    }
}

//----- Button icons -----//
#wikiEditor-ui-toolbar {
    .oo-ui-iconElement-icon,
    .oo-ui-indicatorElement-indicator {
        filter: invert(1)
    }
}

// ------------------------------
//      Subsection dropdown 
// ------------------------------
.wikiEditor-ui-toolbar .sections .section {
    background: @edit-area-header-bg;
    border-color: @theme-borders;
}

//----- Advanced -----//
.wikiEditor-ui-toolbar .group {
    .label {
        color: @theme-text;
    }

    .tool-select {
        background-color:@input-fields-bg;
        border-color: @input-fields-border;

        .label {
            color: @theme-text;
        }

        .menu .options {
            background: @dropdown-bg;
            border-color: @dropdown-border;

            .option {
                color: @dropdown-text;

                &:hover {
                    color: @dropdown-text--hover;
                    background-color: @dropdown-bg-hover-item;
                }
            }
        }
    }
}

//----- Advenced characters -----//
.wikiEditor-ui-toolbar .booklet {
    .index div {
        color: @theme-text;
    }

    .index .current {
        color: @theme-text;
        background: @dropdown-bg-hover-item;
    }

    .page {
        background: @edit-area-header-bg;
    }

    .page-characters div span {
        border-color: @theme-borders;
        color: @theme-text;

        &:hover {
            background: @dropdown-bg-hover-item;
        }
    }
}

//----- Help -----//
.wikiEditor-ui-toolbar .booklet .page-table {
    td {
        color: @theme-text;
        border-color: @theme-borders;
    }

    th {
        color: @button-text-progressive;
    }
}


// ===========================
//      Edit summay field
// ===========================
.editOptions {
    background: @edit-area-symmary-bg;
    border-color: @theme-borders;
    color: @theme-text;
}

// ====================
//      Edit field
// ====================
#wpTextbox0 {
    background: @edit-area-bg !important;
}