// ==========================
//      {{Archive list}}
// ==========================
table.archive {
    background-color: @table-data !important;
    border: solid 1px @theme-borders !important;
}

// ===============================
//      {{GE Set Cost Table}}
// ===============================
// Recolour the totals cell
.GE-set-cost tr:last-of-type td {
    background: @table-header !important;
}

// ===========================
//      {{Quest details}}
// ===========================
.questdetails {
    .table-infobox();

    .questdetails-header {
        background-color: @table-header;
    }

    #rs-qc-form {
        background: none;
    }

    .oo-ui-icon-info {
        .oo-ui-icon-info();
    }
}

// quest req indent guide
.questreq ul {
    border-left: 1px dotted @list-indent-guide;
}

// ===================
//      {{Quote}}
// ===================
blockquote {
    color: @theme-text-subtle;

    p:not(.quote-source) {
        border-color: @theme-borders;
    }
}

.pullquote {
    color: @theme-text-subtle;
}

// ====================
//      {{Navbox}}
// ====================
.navbox {
    color: @theme-text;

    &,
    .navbox-subgroup {
        background-color: @mw-page-bg;
    }

    .navbox-list,
    .navbox-group {
        border-color: @navbox-group-border;
    }

    .navbox-group {
        background: @navbox-group-bg;
    }

    #navbox-title,
    .navbox-footer {
        border-color: @mw-page-bg;
        color: @navbox-title-text;
        background: @navbox-title-bg;

        a {
            color: @navbox-title-text;
        }
    }

    .navbox-collapsible {
        #navbox-title,
        .navbox-footer {
            background-color: @navbox-title-2-bg;
        }
    }
}

// ================================
//      Template:Documentation
// ================================
.documentation {
    background-color: @documentation-bg;
    color: @theme-text;

    .doc-header {
        border-bottom-color: @theme-borders;
    }

    a {
        .links();
    }
}

// ======================
//      {{shortcut}}
// ======================
.shortcut {
    .table-infobox();
}

// ==================
//      <Tabber>
// ==================
#content .tabberlive {
    ul.tabbernav {
        li.tabberactive a {
            .button-styling();
            border: none;
        }

        li a {
            .button-styling("grey");
            border: none;
        }
    }

    div.tabbertab {
        background-color: lighten(@mw-page-bg, 3%);
    }
}

// ========================
//      <references />
// ========================
// Highlight ref when clicked
ol.references li:target, 
sup.reference:target {
    background-color: @reference-target;
}

// ========================
//      {{Transcript}}
// ========================
.transcript {
    background-color: @transcript-bg;
}

// =========================
//      {{Family tree}}
// =========================
td.famtreeleaf {
    .table-infobox();
}

// =================================
//      {{Alphabetical header}}
// =================================
#alphabetical-header {
    background-color: @messageboxes;
    border-color: lighten(@messageboxes, 5%);
}

// ================================
//      {{Mmgtable recurring}}
// ================================
.mmgtable-details {
    border-color: @theme-borders !important;
}

// =========================
//      {{Portal-link}}
// =========================
#content .portal-link {
    a {
        background-color: @portal-link-bg;
        color: @portal-link-text;
    }

    a:hover {
        background-color: @portal-link-bg--hover;
        color: @portal-link-text--hover;
    }
}

// ==============================
//      Template:Disassembly
// ==============================
#DisassemblyT .disassembly-border {
    border-top-color: @infobox-background;
}

// ========================
//      Infobox switch
// ========================
.switch-infobox .switch-infobox-triggers .button,
.infobox-switch .infobox-buttons .button {
    .button-styling();
}

// ===============================
//      Template:Chat options
// ===============================
.chat-options {
    .chat-options-underline {
        border-bottom-color: @theme-text;
    }

    + .js-tooltip-click {
        color: @theme-text !important;
    }
}

// ==============================
//      Template:Coins
//      Template:Rusty coins
//      Template:Chimes
// ==============================
// default and common styles
.coins {
    color: @coins-neutral;
}

// positive/negative specific colours
.coins-pos {
    color: @coins-positive;
}

.coins-neg {
    color: @coins-negative;
}

// =======================
//      Template:Fact
// =======================
.fact-text {
    color: @fact-text;
    border-bottom: dotted 1px @fact-text;
}

// ==========================
//      Template:Gallery
// ==========================
.gifgallery {
    img {
        background: @table-data;
        border-color: @theme-borders;
    }

    .gallery-image-wrapper {
        background: none;
    }
}

// ================================
//      Template:Choose Option
// ================================
.ChooseOption,
.OptionWindow {
    background: @theme-borders;
}

// ===================================
//      Template:Menaphite script
// ===================================
.menaphite-script {
    img {
        filter: invert(0.9);
    }

    .js-tooltip-click {
        background-color: @button-bg-base;
        border-color: @button-bg-base;
        color: @button-text-base;
    }
}

// ==============================
//      Template:Update list
// ==============================
.update-list a {
    .links(white);
}

// =====================================
//      Template:Uses material list
// =====================================
.production-selected {
    background: @uses-material-list-selected;
    color: @theme-text;
}