// ==========================
//      {{Archive list}}
// ==========================
table.archive {
    background-color: @table-data !important;
    border: solid 1px @theme-borders !important;
}

// ===============================
//      {{GE Set Cost Table}}
// ===============================
// Recolour the totals cell
.GE-set-cost tr:last-of-type td {
    background: @table-header !important;
}

// ===========================
//      {{Quest details}}
// ===========================
.questdetails {
    .table-infobox();

    .questdetails-header {
        background-color: @table-header;
    }

    #rs-qc-form {
        background: none;
    }

    .oo-ui-icon-info {
        .oo-ui-icon-info();
    }
}

// quest req indent guide
.questreq ul {
    border-left: 1px dotted @list-indent-guide;
}

// ===================
//      {{Quote}}
// ===================
blockquote {
    color: @theme-text-subtle;

    p:not(.quote-source) {
        border-color: @theme-borders;
    }
}

.pullquote {
    color: @theme-text-subtle;
}

// ====================
//      {{Navbox}}
// ====================
.navbox {
    color: @theme-text;

    &,
    .navbox-subgroup {
        background-color: @main-page-bg;
    }

    .navbox-list,
    .navbox-group {
        border-color: @navbox-group-border;
    }

    .navbox-group {
        background: @navbox-group-bg;
    }

    #navbox-title,
    .navbox-footer {
        border-color: @main-page-bg;
        color: @navbox-title-text;
        background: @navbox-title-bg;

        a {
            color: @navbox-title-text;
        }
    }

    .navbox-collapsible {
        #navbox-title,
        .navbox-footer {
            background-color: @navbox-title-2-bg;
        }
    }
}

// ===========================
//      {{Documentation}}
// ===========================
.documentation {
    background-color: @documentation-bg;
    color: @theme-text;

    a {
        .links();
    }
}

// ======================
//      {{shortcut}}
// ======================
.shortcut {
    .table-infobox();
}

// ==================
//      <Tabber>
// ==================
#content .tabberlive {
    ul.tabbernav {
        li.tabberactive a {
            .button-styling();
            border: none;
        }

        li a {
            .button-styling("grey");
            border: none;
        }
    }

    div.tabbertab {
        background-color: lighten(@main-page-bg, 3%);
    }
}

// =============================
//      {{Infobox bonuses}}
// =============================
.infobox-bonuses {
    td {
        .table-data();
        background-color: @table-data;
    }

    th {
        .table-header();
    }
}

// -----------------------
//      Compare popup
// -----------------------
// #modal {
//     background-color: @main-page-bg;
//     color: @theme-text;

//     // Add item input field
//     #cioItem {
//         .text-input-styling;
//     }

//     // Stat colors
//     .cioPos {
//         color: @positive-change;
//     }

//     .cioNeg {
//         color: @negative-change;
//     }

//     // Totals row
//     #cioTotals {
//         background-color: @highlight-table-on;
//     }
// }

// .oo-ui-windowManager-modal > .oo-ui-dialog {
//     background: fade(@main-page-bg, 0.5);
// }

// .oo-ui-window-body {
//     background: @popup-bg;
//     color: @theme-text;
//     border-color: @theme-borders;
// }

// =================================
//      {{Infobox Monster new}}
// =================================
.infobox-monster {
    .offensive-header {
        background-color: @infobox-monster-offensive-header-bg;
    }

    .offensive-subheader {
        color: @infobox-monster-offensive-subheader-text;
        background-color: @infobox-monster-offensive-subheader-bg;
    }

    .defensive-header {
        background-color: @infobox-monster-defensive-header-bg;
    }

    .defensive-subheader {
        color: @infobox-monster-defensive-subheader-text;
        background-color: @infobox-monster-defensive-subheader-bg;
    }

    .slayer-header {
        background-color: @infobox-monster-slayer-header-bg;
    }
}

// ========================
//      {{References}}
// ========================
// Highlight ref when clicked
ol.references li:target, 
sup.reference:target {
    background-color: @reference-target;
}

// ========================
//      {{Transcript}}
// ========================
.transcript {
    background-color: @transcript-bg;
}

// =========================
//      {{Family tree}}
// =========================
td.famtreeleaf {
    .table-infobox();
}

// =================================
//      {{Alphabetical header}}
// =================================
#alphabetical-header {
    background-color: @messageboxes;
    border-color: lighten(@messageboxes, 5%);
}

// ================================
//      {{Mmgtable recurring}}
// ================================
.mmgtable-details {
    border-color: @theme-borders !important;
}

// =========================
//      {{Portal-link}}
// =========================
#content .portal-link {
    a {
        background-color: @portal-link-bg;
        color: @portal-link-text;
    }

    a:hover {
        background-color: @portal-link-bg--hover;
        color: @portal-link-text--hover;
    }
}

// =========================
//      {{Disassembly}}
// =========================
#DisassemblyT {
    tr:first-of-type th:first-of-type {
        border-top-color: @infobox-background !important;
    }

    .infobox-header {
        border-top-color: @infobox-background !important;
    }
}

// ========================
//      Infobox switch
// ========================
.switch-infobox .switch-infobox-triggers .button,
.infobox-switch .infobox-buttons .button {
    .button-styling();
}